#divpedidos{
    width: 70% ;
    margin-left: 200px;
    text-align: center;
}

button{
    background-color: fff;
    border: none;
    font-size: 20px;
    color: #908C8B;
}

textarea{
    margin-top: 25px;
    margin-bottom: 15px;

    
    border: 2px solid #9B7EDE;
    text-align: justify;
}

#demo{
    font-size: 20px;
    padding: 50px;
    text-align: justify;
    border: 2px solid #9B7EDE;
    color: #908C8B;
    margin-bottom: 50px;
}

#abtn{
    background-color: #B1C48B;
    text-align: center;
    padding: 20px;
    margin-left: 620px;
}